/* You can add global styles to this file, and also import other style files */
body{background-color:bisque;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  text-align: center;
}
option{background-color: aliceblue;}

label{
  margin-right: 5px;
}

